body,
html {
	height: 100%;
	width: 100%;
}

.weather-card {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #c4dafa;
	width: 20%;
	height: 500px;
	margin-top: 4%;

	.weather-icon {
		max-width: 150px;
		max-height: 150px;
		img {
			width: 100%;
			height: auto;
		}
	}

	.weather-details {
		flex: 1;
		padding: 15px;

		h2 {
			margin-bottom: 5px;
			font-size: 1.5rem;
			color: #333;
		}

		p {
			margin: 5px 0;
			font-size: 1rem;
			color: #666;
		}
	}

	@media (min-width: 425px) and (max-width: 769px) {
		width: 55%;
	}

	@media (min-width: 300px) and (max-width: 425px) {
		width: 75%;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		width: 45%;
	}

	@media (min-width: 1025px) {
	}
}
